
.projects-content{
    margin-top: 1em;
    margin-left: 1em;
    color: #B6BBC4;
}

#cards-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-right: 10em;
    margin-left: 10em;
}

.card{
    text-decoration: none;
    margin-left: 1em;
    margin-top: 1em;
    background-color: #0b0d18;
    padding: 1em;
    height: 6em;
    width:8em;
    border-radius: 5px;
}

.card-link{
    margin: 0;
    text-decoration: none;
    color:#B6BBC4;
    font-size: large;
    font-weight: bold;
}

.card-lang{
    text-decoration: none;
    color:#B6BBC4;
    font-size: small;
    font-weight: bold;
}

.card-status{
    text-decoration: none;
    color:#B6BBC4;
    font-size: small;
    font-weight: bold;
}