body{
    margin: 0;
    background-color: #161A30;
}

.content{
    display: flex;
    margin-top: 1em;
    color: #B6BBC4;
    /*color: #F0ECE5;*/
}

.self-img{
    margin-left: 1em;
}

.self-synopsis{
    margin-left: 1em;
}

/*Contact*/
.contact-content{
    color: #B6BBC4;
}
